.box{
    display: flex;
    flex-direction: column;
   
    width: 40%;
}

.title{
    font-size: 2.45rem;
     font-weight: 900;
}
   
.p{
    margin-top: 1rem;
}
   
.heroCallToAction {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
   
}







