.box{
    display: flex;
    flex-direction: column;
    width: 40%;
    order: 1;
}
   

.title{
    font-size: 2.45rem;
     font-weight: 900;
}
   
.p{
    margin-top: 1rem;
}
   
.heroCallToAction {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
   
}

@media(max-width:480px){

    .box{
        width: 90%;
        text-align: center;
        order: 2;
       margin: 0 auto;
    }

    .heroCallToAction{
        justify-content: center;
       
    }

}








