.container{
  
    display: flex;
    gap: 5rem;
}

.image{
    width: 35vw;
}

.featuresContent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

@media(max-width:480px) {
    .container {
        flex-direction: column;
    }

    .image{
        width:80vw;
    }
    
    .featuresContent {
        align-items: center;
        >p{
            text-align: center;
        }

        >Button{
           display: none; 
        }
    }
}
   