.container{
    display: flex;
    justify-content:space-between;
   
}

.image{
  
  max-width: 50%;
   height:auto;
   order: 2;
}

@media(max-width:480px){
  .container{
   
    width: 90vw;
    flex-direction: column;
  }

  .image{
    margin-top: 2rem;
    max-width: 90vw;
    order: 1;
  }
}