main {
  margin-top: 6rem;

  display: flex;
  flex-direction: column;

  align-items: center;
}

p {
  color: grey;
  line-height: 1.5;
  font-weight: 500;
}

.section_textFeatures,
.section_textDownload {

  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.p-textFeatures,
.p-textDownload {
  text-align: center;
  width: 90%;
}

.section_Features {

  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 
}

.section_Download{

  width:100%;
  margin-top:3rem;
  justify-items:center;
}



@media(max-width:768px){
   .p-textFeatures{
    width: 100%;
   }
   .section_textFeatures,
   .section_textDownload{
    width: 80%;
   }
}


@media(max-width:480px){
  .section_textFeatures,
  .section_textDownload
  {
    width: 100%;
    margin-top: 10rem;
  }
}